*{
    font-size: 20px;
}
.addTask-box {
    padding:50px;
    margin-top:10%;
}
.addTask-box h1 {
    font-size:30px;
    color: orangered;
    font-weight: bold;
    margin-bottom: 20px
}
table{
    margin-top:15%;
}

table thead{
    font-size:30px;
    color: orangered;
    font-weight: bold;
}

table tbody{
    font-size: 20px;
}


@media only screen and (max-width:990px) {
    .todo-img{
        display: none;
    }
}